################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GetProgrammingWithFSharp/FileContentIndex/2a2a1298-53cd-410d-a965-6bdba645807c.vsidx
/.vs/GetProgrammingWithFSharp/FileContentIndex/7c3c7a00-1bf0-49f1-8a4a-02c91db373a5.vsidx
/.vs/GetProgrammingWithFSharp/FileContentIndex/ecdd9938-d753-453e-8011-9e251df68f55.vsidx
